/* Category Editor Modal */
#modal_category_editor {

}
#modal_category_editor .form-group {
    margin-bottom: 15px;
}
#modal_category_editor .form-group:last-child {
    margin-bottom: 0;
}
#modal_category_editor .control-label {

}
#modal_category_editor textarea {
    resize: none;
}
