/* Table Display */
#categories_table,
#categories_table tbody {background-color: transparent !important;}
#categories_table thead th,
#categories_table tbody td {background-color: white}
#categories_table tbody tr td.handle {
    width: 24px;
    padding-left: 0;
    padding-right: 0;
    text-align: right !important;
    border-right: 1px solid transparent !important;
}
#categories_table tbody tr td.handle .fa {
    padding: 2px 5px;
    cursor: pointer;
}
#categories_table tbody tr td.handle .fa:before {
    content: "\f0da";
}
#categories_table tbody tr td.handle .fa.expanded {
    transform: rotate(90deg);
}
#categories_table tbody td.handle i.active:hover {
    color: #37A8E8 !important;
}
#categories_table tbody tr td.handle .disabled {
    opacity: 0.2;
    cursor: default;
}
#categories_table tbody tr.main-category td.handle + td {
    padding-left: 5px;
}
#categories_table tbody tr.sub-category {
    display: none;
}
#categories_table tbody tr.sub-category.open {
    display: table-row;
}
#categories_table tbody tr.sub-category td {
    background-color: #fbfbfb;
}
#categories_table tbody tr.sub-category td.handle {
    border-top-color: transparent;
    border-right-color: transparent;
    background: transparent !important;
}
#categories_table tbody tr.sub-category td.handle:last-child {
    border-bottom-color: #f4f4f4 !important;
}
/* Category Editor Modal */
#modal_category_editor {

}
#modal_category_editor .form-group {
    margin-bottom: 15px;
}
#modal_category_editor .form-group:last-child {
    margin-bottom: 0;
}
#modal_category_editor .control-label {

}
#modal_category_editor .form-control option {
    padding-left: 0;
    padding-right: 0;
}
#modal_category_editor textarea {
    resize: none;
}
#modal_category_editor [data-id="sub_category"] {

}
#modal_category_editor [data-id="sub_category"] .list {
    width: 100%;
}
